body{
    margin:0px ;
    font-size: 2rem;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1em;
}
h1{
    margin: 50px auto 0px;
    color: #66BFBF;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    line-height: 1;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
a{
   color:#11999E ; 
}
.top-container{
    background-color: #c9e9f0;
    padding-top: 100px;
    position: relative;

}
.top-cloud{
    height: 59px;
    width: 194px;
    position: absolute;
    right: 340px;
    top: 31px;
}
.bottom-cloud{
    height: 76px;
    width: 213px;
    position: absolute;
    bottom: 368px;
    left: 322px;
}
.mountain{
    margin-top: 69px;
    height: 363px;
    width: 769px;
    position: relative;
    bottom: -7px;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    
}
.gameimage{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.codeimage{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.propic{
    width: 13%;
}
hr{
    border-width: 0px;
    border: dotted rgb(223, 223, 223) 5px;
    width: 4%;
    margin: 100px auto;
    border-bottom: none;
}
.bottom-container{
    padding: 50px 0px 20px ;
    background-color: #66BFBF;
}
.footer-link{
    text-decoration: none;
    margin: 10px 20px ;
    font-family: 'Montserrat', sans-serif;
}
a:hover{
    color: #eaf6f6;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 1em;
    
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .middle-container{
    padding: 100px 0px;
  }
  .intro{
    width: 30%;
    margin: auto;
  }
  p{
    line-height: 2;
  }
  .contactmsg{
    width: 40%;
    margin: 40px auto 60px;
  }
  .copyright{
    color:#eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0px;
  }